{
  "openapi": "3.1.0",
  "info": {
    "title": "Boxpilote API",
    "description": "API for business opportunities, quotes, surfaces, rentals, insurances, services, products, VAT rates, and associated clients.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.boxpilote.fr"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/public/v1/opportunities/create": {
      "post": {
        "description": "Creates a new business opportunity linked to an existing client or automatically creates a new client.",
        "requestBody": {
          "description": "Data required to create an opportunity and optionally a new client",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewOpportunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opportunity successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "opportunityId": { "type": "string" },
                    "createdAt": { "type": "string", "description": "Creation timestamp" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Email required or invalid format",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Email requis"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - duplicate or conflicting resource",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Conflict: Resource already exists or conflicts with existing data."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Invalid Token",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Unauthorized: Invalid or missing token."
                }
              }
            }
          },
          "500": {
            "description": "Error inserting customer or opportunity",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Internal server error: Could not insert customer or opportunity."
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/surfaces": {
      "get": {
        "description": "Lists surfaces for the authenticated center with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 20, max: 100)",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of surfaces with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Surface" }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "total": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Invalid Token",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Unauthorized: Invalid or missing token."
                }
              }
            }
          },
          "500": {
            "description": "Error fetching surfaces",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Erreur récupération des surfaces"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/rentals": {
      "get": {
        "description": "Lists rentals for the authenticated center with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 20, max: 100)",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rentals with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Rental" }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "total": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Invalid Token",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Unauthorized: Invalid or missing token."
                }
              }
            }
          },
          "500": {
            "description": "Error fetching rentals",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Erreur récupération des locations"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/vat-rates": {
      "get": {
        "description": "Lists VAT rates with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 20, max: 100)",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of VAT rates with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/VatRate" }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "total": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Invalid Token",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Unauthorized: Invalid or missing token."
                }
              }
            }
          },
          "500": {
            "description": "Error fetching VAT rates",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Erreur récupération des taux de TVA"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/insurances": {
      "get": {
        "description": "Lists insurances for the authenticated center with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 20, max: 100)",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of insurances with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Insurance" }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "total": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Invalid Token",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Unauthorized: Invalid or missing token."
                }
              }
            }
          },
          "500": {
            "description": "Error fetching insurances",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Erreur récupération des assurances"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/services": {
      "get": {
        "description": "Lists services for the authenticated center with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 20, max: 100)",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of services with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Service" }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "total": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Invalid Token",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Unauthorized: Invalid or missing token."
                }
              }
            }
          },
          "500": {
            "description": "Error fetching services",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Erreur récupération des services"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/products": {
      "get": {
        "description": "Lists products for the authenticated center with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 20, max: 100)",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Product" }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "total": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Invalid Token",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Unauthorized: Invalid or missing token."
                }
              }
            }
          },
          "500": {
            "description": "Error fetching products",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Erreur récupération des produits"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/quotes": {
      "get": {
        "description": "Lists all quotes for the authenticated center with pagination. Returns a summary (id, quote_number, total_amount, status, customer). Optional date and status filters.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 20, max: 100)",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          },
          {
            "name": "created_at_from",
            "in": "query",
            "description": "Filter quotes created on or after this date (ISO 8601)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "created_at_to",
            "in": "query",
            "description": "Filter quotes created on or before this date (ISO 8601)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter quotes by status",
            "schema": {
              "type": "string",
              "enum": ["En attente", "Expire", "Refusé", "Accepté"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of quotes with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/QuoteSummary" }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": { "type": "integer" },
                        "limit": { "type": "integer" },
                        "total": { "type": "integer" },
                        "totalPages": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Invalid Token",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Unauthorized: Invalid or missing token."
                }
              }
            }
          },
          "500": {
            "description": "Error fetching quotes",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Erreur récupération des devis"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/v1/quotes/{id}": {
      "get": {
        "description": "Gets a single quote by ID with full details including customer and quote items.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Quote ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuoteDetail" }
              }
            }
          },
          "400": {
            "description": "Missing quote ID",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 400,
                  "message": "ID du devis requis"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized / Invalid Token",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Unauthorized: Invalid or missing token."
                }
              }
            }
          },
          "404": {
            "description": "Quote not found",
            "content": {
              "application/json": {
                "example": {
                  "statusCode": 404,
                  "message": "Devis non trouvé"
                }
              }
            }
          },
          "500": {
            "description": "Error fetching quote",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "message": "Erreur récupération du devis"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewOpportunity": {
        "type": "object",
        "required": ["email", "first_name", "last_name", "phone"],
        "properties": {
          "email": { "type": "string", "description": "Customer email (required)" },
          "first_name": { "type": "string", "description": "Customer first name (required)" },
          "last_name": { "type": "string", "description": "Customer last name (required)" },
          "name": { "type": "string", "description": "Company name" },
          "phone": { "type": "string", "description": "Customer phone number (required)" },
          "type": { "type": "string", "description": "Client type (Professionnel, Particulier, Association). Default: Professionnel" },
          "origin": { "type": "string", "description": "Lead origin. Default: Site Web" },
          "title": { "type": "string", "description": "Short title or description of the opportunity. Default: Demande de démo" },
          "size": { "type": "string", "description": "Size in m²" },
          "priority": { "type": "string", "description": "Opportunity priority (Faible, Moyen, Important). Default: Important" },
          "category": { "type": "array", "description": "Category tags" },
          "referer": { "type": "string", "description": "Referrer source" },
          "precision": { "type": "string", "description": "Additional precision/details" },
          "estimated_date": { "type": "string", "description": "Estimated date for the opportunity" },
          "external_id": { "type": "string", "description": "External ID of the customer" }
        }
      },
      "Surface": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "type": { "type": "string", "nullable": true },
          "amount_ht": { "type": "number", "nullable": true, "description": "Amount excluding VAT" },
          "vat_id": { "type": "string", "nullable": true },
          "size": { "type": "number", "nullable": true },
          "volume": { "type": "string", "nullable": true },
          "level": { "type": "number", "nullable": true },
          "media_url": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "title": { "type": "string" },
          "quantity": { "type": "number" },
          "unit": { "type": "string", "nullable": true },
          "accounting_code": { "type": "string", "nullable": true },
          "deposit": { "type": "number", "nullable": true },
          "ref": { "type": "string", "nullable": true },
          "drive": { "type": "boolean", "nullable": true },
          "updated_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "Rental": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "availability": { "type": "string", "nullable": true },
          "dimensions": { "type": "string", "nullable": true },
          "rental_number": { "type": "string", "nullable": true },
          "surface_id": { "type": "string", "nullable": true },
          "details": { "type": "string", "nullable": true },
          "largeur": { "type": "number", "nullable": true, "description": "Width" },
          "longueur": { "type": "number", "nullable": true, "description": "Length" },
          "hauteur": { "type": "number", "nullable": true, "description": "Height" }
        }
      },
      "VatRate": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "name": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "rates": { "type": "number", "nullable": true },
          "rate_percentage": { "type": "number", "nullable": true }
        }
      },
      "Insurance": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "description": { "type": "string", "nullable": true },
          "vat_id": { "type": "string", "nullable": true },
          "amount_ht": { "type": "number", "nullable": true, "description": "Amount excluding VAT" },
          "reference": { "type": "string", "nullable": true },
          "insured_amount": { "type": "number", "nullable": true },
          "title": { "type": "string", "nullable": true },
          "quantity": { "type": "number", "nullable": true },
          "unit": { "type": "string", "nullable": true },
          "accounting_code": { "type": "string", "nullable": true },
          "item_type": { "type": "string", "nullable": true },
          "type": { "type": "string", "nullable": true }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "title": { "type": "string", "nullable": true },
          "amount_ht": { "type": "number", "nullable": true, "description": "Amount excluding VAT" },
          "vat_id": { "type": "string", "nullable": true },
          "amount_ttc": { "type": "number", "nullable": true, "description": "Amount including VAT" },
          "reference": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "unit": { "type": "string", "nullable": true },
          "quantity": { "type": "number", "nullable": true },
          "accounting_code": { "type": "string", "nullable": true },
          "item_type": { "type": "string", "nullable": true },
          "type": { "type": "string", "nullable": true },
          "ref": { "type": "string", "nullable": true },
          "online": { "type": "boolean", "nullable": true },
          "media_url": { "type": "string", "nullable": true }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "title": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "vat_id": { "type": "string", "nullable": true },
          "unit": { "type": "string", "nullable": true },
          "inventory": { "type": "number", "nullable": true },
          "amount_ht": { "type": "number", "nullable": true, "description": "Amount excluding VAT" },
          "reference": { "type": "string", "nullable": true },
          "quantity": { "type": "number", "nullable": true },
          "accounting_code": { "type": "string", "nullable": true },
          "item_type": { "type": "string", "nullable": true },
          "type": { "type": "string", "nullable": true },
          "online": { "type": "boolean", "nullable": true },
          "media_url": { "type": "string", "nullable": true }
        }
      },
      "QuoteItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "quote_id": { "type": "string", "nullable": true },
          "item_type": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "quantity": { "type": "number", "nullable": true },
          "amount_ht": { "type": "number", "nullable": true },
          "total_ht": { "type": "number", "nullable": true },
          "unit": { "type": "string", "nullable": true },
          "unit_id": { "type": "string", "nullable": true },
          "product_id": { "type": "string", "nullable": true },
          "size": { "type": "number", "nullable": true },
          "discount_duration": { "type": "number", "nullable": true },
          "zone_id": { "type": "string", "nullable": true },
          "is_option": { "type": "boolean", "nullable": true },
          "order": { "type": "number", "nullable": true },
          "surface_id": { "type": "string", "nullable": true },
          "one_time": { "type": "boolean", "nullable": true },
          "type": { "type": "string", "nullable": true },
          "discountType": { "type": "string", "nullable": true },
          "discountValue": { "type": "number", "nullable": true },
          "discountAmount": { "type": "number", "nullable": true }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "nullable": true },
          "phone": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true }
        }
      },
      "QuoteSummary": {
        "type": "object",
        "description": "Simplified quote for list response",
        "properties": {
          "id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "quote_number": { "type": "string", "nullable": true },
          "total_amount": { "type": "number", "nullable": true },
          "status": { "type": "string", "nullable": true },
          "customer": { "$ref": "#/components/schemas/Customer" }
        }
      },
      "QuoteDetail": {
        "type": "object",
        "description": "Full quote details for single quote response",
        "properties": {
          "id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "quote_number": { "type": "string", "nullable": true },
          "customer_id": { "type": "string", "nullable": true },
          "total_amount": { "type": "number", "nullable": true },
          "sub_total_amount": { "type": "number", "nullable": true },
          "expiration_date": { "type": "string", "nullable": true },
          "status": { "type": "string", "nullable": true },
          "sent_email": { "type": "boolean", "nullable": true },
          "payment_method": { "type": "string", "nullable": true },
          "payment_terms": { "type": "string", "nullable": true },
          "deposit": { "type": "number", "nullable": true },
          "type": { "type": "string", "nullable": true },
          "contract_id": { "type": "string", "nullable": true },
          "is_archived": { "type": "boolean", "nullable": true },
          "billing_period": { "type": "number", "nullable": true },
          "refusal_reason": { "type": "string", "nullable": true },
          "customer": { "$ref": "#/components/schemas/Customer" },
          "quote_items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/QuoteItem" }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
