{
  "openapi": "3.1.0",
  "info": {
    "title": "Opportunities API",
    "description": "This API automates the creation of business opportunities and associated clients.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.boxpilote.fr"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/public/opportunities": {
      "post": {
        "description": "Creates a new business opportunity linked to an existing client or automatically creates a new client.",
        "requestBody": {
          "description": "Data required to create an opportunity and optionally a new client",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewOpportunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Opportunity successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "opportunityId": { "type": "string" }
                  }
                }
              }
            }
          },
         "400": {
  "description": "Email required",
  "content": {
    "application/json": {
      "example": {
        "success": false,
        "message": "Email is required."
      }
    }
  }
},
"401": {
  "description": "Unauthorized / Invalid Token",
  "content": {
    "application/json": {
      "example": {
        "success": false,
        "message": "Unauthorized: Invalid or missing token."
      }
    }
  }
},
"500": {
  "description": "Error inserting customer or opportunity",
  "content": {
    "application/json": {
      "example": {
        "success": false,
        "message": "Internal server error: Could not insert customer or opportunity."
      }
    }
  }
}

        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewOpportunity": {
        "type": "object",
        "required": ["email", "first_name", "last_name", "name", "phone", "type", "origin", "size", "title"],
        "properties": {
          "email": { "type": "string", "description": "Customer email" },
          "first_name": { "type": "string", "description": "Customer first name" },
          "last_name": { "type": "string", "description": "Customer last name" },
          "name": { "type": "string", "description": "Full name or customer's company" },
          "phone": { "type": "string", "description": "Customer phone number" },
          "type": { "type": "string", "description": "Client type (Professionnel, Particulier, Association)" },
          "origin": { "type": "string", "description": "Lead origin (Site Web)" },
          "title": { "type": "string", "description": "Short title or description of the opportunity" },
          "size": { "type": "string", "description": "Opportunity size" },
          "priority": { "type": "string", "description": "Opportunity priority (Faible, Moyen, Important)" },
          "external_id": { "type": "string", "description": "External ID of the customer" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}

